/* ========== TW ========== */

/* Hide sign up / login tip */
.ndPaywall,
.ndPaywallVideo {
    display: none !important;
    visibility: visible !important;
}

/* Display article */
#playerVideo,
.article-content,
.articulum,
.mediabox,
.ndAritcle_headPic,
.ndArticle_margin {
    display: block !important;
    visibility: visible !important;
}

.mediabox {
    width: inherit !important;
}