/* ========== TW ========== */

/* Hide sign up / login tip */
.ndPaywall,
.ndPaywallVideo {
    display: none !important;
    visibility: visible !important;
}

/* Display article */
.mediabox,
#playerVideo,
.ndAritcle_headPic,
.ndArticle_margin,
.articulum {
    display: block !important;
    visibility: visible !important;
}

.mediabox {
    width: inherit !important;
}