/* Hide sign up / login tip */
.contentblock-block {
    display: none !important;
}

/* Display article */
.cntb.block .LHSContent::before {
    content: none !important;
}

.cntb.block #articleContent {
    height: auto !important;
}